* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
    padding: 0;
}

#app {
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    background-color: #fffeff;
}

body {
    background-color: #dcdbd6;
    padding: 50px 0px;
    height: 100vh;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/* .row [class^="col"] {
    padding: 0 10px;
} */

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: 100%;
}

img {
    max-width: 100%;
}

#app::before {
    content: "";
    position: absolute;
    background-color: #019689;
    height: 100px;
    width: 100%;
    top: 0;
    z-index: -1;
}

.debug .container {
    border: 2px solid black;
    padding: 10px;
}

:root {
    --var-super-light-grey: #f7f6f6;
    --var-light-grey: #ebe9eb;
    --var-grey-dark: #989798;
    --var-skyblue: #8dd8fe;
    --var-card-padding: 8px;
}

.menu {
    display: flex;
    gap: 10px;
}

/* APP RULES */

/* SEARCH */

.search-bar {
    padding: 5px;
    position: relative;
    background-color: var(--var-super-light-grey);
}

.search-bar input {
    line-height: 30px;
    width: 100%;
    padding-left: 50px;
    border: 1px solid var(--var-light-grey);
}

.search-bar__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    color: var(--var-grey-dark);
    width: 40px;
    text-align: center;
}


/* CARD  */
.card {
    padding: var(--var-card-padding);
    display: flex;
    gap: 10px;
}

.card-user-profile,
.app-content__header .card-contact-profile {
    background-color: var(--var-light-grey);
    padding-right: 20px;
}

.card-image {
    width: 50px;
    padding: 0 5px;
}

.card-image img {
    border-radius: 50%;
}

.card-body {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.card-user-profile .card-body,
.app-content__header .card-body {
    align-items: center;
}

.card-body__menu i,
.user-messege {
    color: var(--var-grey-dark);
}

.card-contact-profile {
    border-top: 1px solid var(--var-light-grey);
}

.card-notifications {
    background-color: var(--var-skyblue);
}

.card-notifications .card-text {
    color: var(--var-grey-dark);
    text-decoration-line: underline; 
}